/*==============================================================================================================================
disable default style
================================================================================================================================*/
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
}
p {
    color: black;
    margin: 2px;

}
li {
    padding: 0 5px 0 5px;
}
h1 {
    color: #ffffff;
    font-size: 20px;
}
body {
    margin: 0;
}
H6 {
    margin: 0px;
}

.container-row {
    display: flex;
    flex-direction: row
}
.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*==============================================================================================================================
Header
================================================================================================================================*/
.socials li>a {
    color:white;
}
h5 {
    color: #ffffff;
}

#logo-insa {
  
    background-image: url('/assets/img/header/logo-insa.png');
    height: 35px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: contain;
}

#logo-uni {
    height: 80px;
    width: 45px;
    background-image: url('/assets/img/header/logo_UL.png');
    background-repeat: no-repeat;
    background-size: contain;
    
}

.parralelogramm-1>:first-child {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 35px;
    margin-top: 10px;
}

.separator {
    height: 50px;
    border: #ffffff 1px solid;
}

.socials {
    display: flex;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    justify-content: center;

}

.socials li>a {
    color:white;
}

#title {
    width: 100%;
    text-align: center;
}

/*==============================================================================================================================
Breadcrumbs
================================================================================================================================*/

.breadcrumbs {
    overflow: hidden
}
.breadcrumbs li {
    display: flex;
    margin: 0 5px 0;
    align-items: center;
}
.breadcrumbs li::after {
    margin-left: 5px;
    content: '>';
}

.breadcrumbs li:last-child:after {
    content: '';
}

/*==============================================================================================================================
main section
================================================================================================================================*/
main {
    justify-content: space-around;
}
#main-section {
    width: 100%;
}

.flag {
    margin-top: 10px;
}
article {
    
    margin: 4px;
}

table {
    border-left: #ff0000 solid 3px;
    padding-left: 20px;
}
table>:first-child>td {
    
}
.table-color {
    color: #666;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: red;
    margin: 10px;
}
.paginator .fas {
    color: white;
}


/*==============================================================================================================================
Aside
================================================================================================================================*/
#main-aside {
    flex-direction: column;
    width: 100%;
}

.avatar {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    height: 180px;
    width: 180px;
    justify-content: center;
}
.aside-info {
    width: 33%;
    margin: 4px;
    text-align: center;
}

#main-aside header {
    align-items: center
}
#main-aside section {
    align-items: center;
}

/*==============================================================================================================================
Tooltip
================================================================================================================================*/

.asked-question {
    background-image: url('/assets/img/main/logo-FAQ.png');
    width: 54px;
    height: 50px;
    background-repeat: no-repeat;
    background-color: red;
    background-position: center;
}

.tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(85, 17, 52);
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
    height: 40px;
    padding: 10px;
    position: absolute;
    left: 85%;
}
.tooltip-content {
    position: relative;
    padding: 1em;
}
.tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.left .tooltip-content::after {
    top: 18px;
    right: -10px;
    border-color: transparent rgb(85, 17, 52);
    border-width: 10px 0 10px 10px;
}
/*==============================================================================================================================
Footer
================================================================================================================================*/

.footer-logo {
    width: 100%;
    height: 200px;
    background-color: rgb(111, 108, 108);
    background-image: url('/assets/img/Footer/logo-inst-carnot.png');
    background-repeat: no-repeat;
    background-position: center;

}

.footer-info {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 0, 0);
}

.footer-info p {
    color: #ffffff;
}

nav>div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-heart {
    color: #ffffff;
    margin: 5px;
}

main {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        aside {
            width: 45%;
        }

        .aside-info {
            width: 10vw
        }
        #main-aside {
            flex-direction: column;
            width: 85%;
            height: 65%;
            -webkit-box-shadow: 10px 10px 43px -6px rgba(0,0,0,0.35);
            -moz-box-shadow: 10px 10px 43px -6px rgba(0,0,0,0.35);
            box-shadow: 10px 10px 43px -6px rgba(0,0,0,0.35);
        }

        #main-aside section {
            flex-direction: column;
            align-items: center;
        }

        #main-section {
            width: 55%;
            display: flex;
        }
        
    }
}
body  {
    width: 100vw;
    @media screen and (min-width: 768px) {
        h1 {
            color: #ffffff;
            font-size: 50px;
        }
       

        .parralelogramm-1 {
            justify-content: space-around;
            align-items: center;
            height: 200px;
            background-image: url('/assets/img/header/rectangle.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .parralelogramm-1::before {
            align-self: flex-start;
            position: absolute;
            width: 320px;
            left: 0px;
            top: 80px;
            border-style: solid;
            border-width: 120px 0 0 300px;
            border-color: transparent transparent transparent #e5e5e5;
            content: "";
            transform-origin: bottom right;
        }
        
        .parralelogramm-1::after {
            align-self: flex-end;
            position: absolute;
            width: 0;
            height: 0;
            right: -16px;
            top:67px;
            border: 0 solid transparent;
            border-right-width: 0px;
            border-left-width: 335px;
            border-bottom: 133px solid #ff0000;
            content: "";
        }
        .parralelogramm-1>:first-child {
            width: 27%;
            justify-content: space-around;
            align-items: center;
            padding-top: 35px;
            margin-top: 10px;
            left: 25px;
            position: absolute;
            top: -25px;
        }

        .footer-logo {
            display: none;
        }
        .footer-info {
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .footer-info::before {
            position: absolute;
            width: 201px;
            left: 0%;
            height: inherit;
            /* bottom: -243px; */
            border-style: solid;
            border-width: 150px 0px 0px 170px;
            border-color: transparent transparent transparent #f5f5f5;
            content: "";
            transform-origin: bottom right;
            box-sizing: border-box;

        }
        .footer-info::after {
            position: absolute;
            width: 204px;
            right: 0%;
            height: inherit;
            border-style: solid;
            border-width: 150px 0 0 249px;
            border-color: #49545a #49545a #49545a transparent;
            content: "";
            margin: 0;
            display: none;

        }

       
    }
}

.parralelogramm-1  {
    background-color: red;
    width: 100vw;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
        #logo-uni {
            background-image: url('/assets/img/header/logo_UL.png');
            height: 55px;
            width: 45px;
            background-repeat: no-repeat;
            background-size: contain;
        
        }

        #logo-insa {
            height: 45px;
            width: 190px;
            background-image: url('/assets/img/header/logo-insa.png');
            background-repeat: no-repeat;
            background-size: contain;
            
        }
        .separator {
            height: 50px;
            border: #ffffff 1px solid;
            margin: 0 30px;
        }
        
        .socials {
            position: absolute;
            display: flex;
            align-self: flex-start;
            align-items: center;
            width: 210px;
            justify-content: center;
            /* right: -17%; */
            left: 75%;
            top: 30px;
        }
       
    
        

    }
}





